/* Need to improve the background design, add a background image */
body {
    background-image: url("pexels-pixabay-279747C.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    max-width: 100%;
    height: auto;
    background-color: #ffe4b5;
}

h1 {
    color: blue;
    text-align: center;
}

h3 {
    text-align: center;
}

h2 {
    text-align: center;
}

p {
    color: red;
}

/* Need to add transparency on the tables, and header sections*/
table,
th,
td {
    border: 1px solid black;
    margin: 0 auto;
}

.CenterObject {
    align-content: center;
    display: block;
    margin: auto;
}

.ColorBrown{ color: brown; /*background-color: white;*/}
.ColorRed{ color: red; /*background-color: white;*/}
.ColorOrange{ color: orange; /*background-color: white;*/}
.ColorYellow{ color: yellow; background-color: gray;}
.ColorGreen{ color: Green; /*background-color: white;*/}
.ColorBlue{ color: Blue; /*background-color: white;*/}
.ColorViolet{ color: Violet; /*background-color: white;*/}
.ColorGray{ color: Gray; /*background-color: white;*/}
.ColorWhite{ color: white; background-color: gray;}
.ColorGold{ color: gold; background-color: gray;}
.ColorSilver{ color: silver; /*background-color: white;*/}

.content-head {
    background-color: rgba(51, 102, 153, 0.8 );
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    color: #3c2300;
}

.content-body {
    background-color: rgba(51, 102, 153, 0.2 );
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    font-weight: bold;
    font-size: 15px;
}

/*
thead tr th {
    color: #0c0f3a;
    background-color: rgba(51, 102, 153, 100 );
    font-size: 15px;
}


tbody tr td {
    font-weight: bold;

}

tbody tr td {
    text-align: right;
}

tbody tr td.left {
    text-align: left;
    white-space: nowrap;
}

tbody tr{
    background-color: rgba(120, 161, 188, 0.2);

}
/*
tbody tr:hover {
    background-color: khaki;
    color: #003813;
}
*/
.content-title {
    text-align: center;
    font-weight: bold;
    color: #acc7e2;
    font-weight: bolder;
    font-size: 20px;
}