/* Need to improve the background design, add a background image */
body {
    background-image: url("pexels-pixabay-279747C.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    max-width: 100%;
    height: auto;
    background-color: Moccasin;
}

h1 {
    color: blue;
    text-align: center;
}

h3 {
    text-align: center;
}

h2 {
    text-align: center;
}

p {
    color: red;
}

/* Need to add transparency on the tables, and header sections*/
table,
th,
td {
    border: 1px solid black;
    margin: 0 auto;
}

.CenterObject {
    align-content: center;
    display: block;
    margin: auto;
}

.ColorBrown{ color: brown; /*background-color: white;*/}
.ColorRed{ color: red; /*background-color: white;*/}
.ColorOrange{ color: orange; /*background-color: white;*/}
.ColorYellow{ color: yellow; background-color: gray;}
.ColorGreen{ color: Green; /*background-color: white;*/}
.ColorBlue{ color: Blue; /*background-color: white;*/}
.ColorViolet{ color: Violet; /*background-color: white;*/}
.ColorGray{ color: Gray; /*background-color: white;*/}
.ColorWhite{ color: white; background-color: gray;}
.ColorGold{ color: gold; background-color: gray;}
.ColorSilver{ color: silver; /*background-color: white;*/}