body {
    background-color: Moccasin;
}

h1 {
    color: blue;
    text-align: center;
}

h3 {
    text-align: center;
}

p {
    color: red;
}


table,
th,
td {
    border: 1px solid black;
    margin: 0 auto;
}

.CenterObject {
    align-content: center;
    display: block;
    margin: auto;
}